<!doctype html>
<html>
    <head>
        <title>NewPrixmix</title>
        <script src="/iframe.js"></script>
    </head>
    <style>
        body, html {
            margin: 0;
            height: 100%;
            overflow: hidden;
        }
        #input-div {
            width: 100%;
            height: 100%;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
    <body>
        <div id="input-div">
            <h1>UltraBrowse NewPrixmix</h1>
            <input id="urlInput" required />
            <button onclick="submitForm()">Go</button>
        </div>
    </body>
</html>
